    <nav>
        <button class="control-nav" id="nav-controller" onclick="controlNavbar();">
        </button>
        <div id="nav" data-state="closed">
            <p class="nav-title">Menu</p>
            <ul class="menu">
                <li class="nav-card active" style="--cover-img: url('/src/covers/main_cover.jpg')">
                    <a href="#">
                        <p class="title">
                            <span class="state-indicator"></span>
                            Home
                        </p>
                    </a>
                </li>
                <li class="nav-card" style="--cover-img: url('/src/covers/main_cover.jpg')">
                    <a href="#">
                        <p class="title">
                            <span class="state-indicator"></span>
                            Chi sono
                        </p>
                    </a>
                </li>
                <li class="nav-card" style="--cover-img: url('/src/covers/main_cover.jpg')">
                    <a href="#">
                        <p class="title">
                            <span class="state-indicator"></span>
                            Progetti
                        </p>
                    </a>
                </li>
                <li class="nav-card" style="--cover-img: url('/src/covers/main_cover.jpg')">
                    <a href="#">
                        <p class="title">
                            <span class="state-indicator"></span>
                            Contattami
                        </p>
                    </a>
                </li>
                <li class="nav-card" style="--cover-img: url('/src/covers/main_cover.jpg')">
                    <a href="#">
                        <p class="title">
                            <span class="state-indicator"></span>
                            Aiutami
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <footer>
            <ul>
                <li class="social" data-social="facebook">
                    <a href="#facebook" class="social-link" alt="Link a Facebook"></a>
                </li>
                <li class="social" data-social="instagram">
                    <a href="#instagram" class="social-link" alt="Link a Instagram"></a>
                </li>
                <li class="social" data-social="vero">
                    <a href="#vero" class="social-link" alt="Link a Vero"></a>
                </li>
                <li class="social" data-social="pinterest">
                    <a href="#pinterest" class="social-link" alt="Link a Pinterest"></a>
                </li>
                <li class="social" data-social="redbubble">
                    <a href="#redbubble" class="social-link" alt="Link a RedBubble"></a>
                </li>
            </ul>
        </footer>
    </nav>