@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap');

/* ----------- COLORS ----------- */
:root{
    --main-color: #fefefe;
    --bg-color: #0e0e0e;
}

/* ------------ FONTS ------------ */

* {
    font-family: 'Poppins', serif;
}

body {
    color: var(--main-color);
}

h1 {
    font-family: 'STIX Two Text', serif;
    font-size: 5rem;
}

/* --------- GENERAL CSS --------- */

.hidden {
    display: none;
}

#main-container {
    padding: 0px 1.3em;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#main-container::-webkit-scrollbar {
    display: none;
}